<div class="table-container">
    <table mat-table [dataSource]="receiptDetailsDataSource" class="table-orders" matSort>
                        
        <ng-container matColumnDef="name" >
            <th mat-header-cell *matHeaderCellDef>Tên món</th>
            <td mat-cell *matCellDef="let row">{{row.product.name}}</td>
        </ng-container>

        <ng-container matColumnDef="price" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Đơn giá</th>
            <td mat-cell *matCellDef="let row">{{row.price | comma}}</td>
        </ng-container>

        <ng-container matColumnDef="quantity" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Số lượng</th>
            <td mat-cell *matCellDef="let row">{{row.quantity}}</td>
        </ng-container>

        <ng-container matColumnDef="summary">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Thành tiền</th>
            <td mat-cell *matCellDef="let row">{{row.price * row.quantity | comma}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Chưa có hóa đơn nào"</td>
        </tr>
    </table>
</div>
<div class="total">
    <span>Tổng</span><span>{{total| comma}}đ</span>
</div>
<div class="total">
    <span>Giảm giá</span><span>{{totalDiscount| comma}}đ</span>
</div>
<div class="total">
    <span>Doanh thu</span><span>{{summary| comma}}đ</span>
</div>
<div class="close-shift">
    <button mat-raised-button color="warn" (click)="closeShift()">KẾT CA</button>
</div>

<section id="print-section">
    <div class="shop-name title">Kết ca</div>
    <div class="address title">Ngày {{order?.time | date:'dd/MM/yyyy'}}</div>
    <div class="address title">Giờ {{order?.time | date:'hh:mm a'}}</div>
    <ng-container>
        <table>
            <thead class="table-header">
                <tr>
                    <th>
                        Tên món
                    </th>
                    <th>
                        Đơn giá
                    </th>
                    <th>
                        SL
                    </th>
                    <th>
                        T.Tiền
                    </th>
                </tr>
            </thead>
            <!-- //TODO Edit below, add total style to printStyle, hide this section, print this section -->
            <!-- <tbody>
                <tr *ngFor="let detail of order?.receiptDetails">
                    <td>
                        {{detail.product.name}}
                    </td>
                    <td class="quantity">
                        {{detail.quantity}}
                    </td>
                    <td class="price">
                        {{detail.product.price}}
                    </td>
                    <td class="total-price">
                        {{detail.product.price * detail.quantity}}
                    </td>
                </tr>
            </tbody> -->
        </table>
    </ng-container>
    
    <div class="total">
        <span>Tổng</span><span>{{total| comma}}đ</span>
    </div>
    <div class="total">
        <span>Giảm giá</span><span>{{totalDiscount| comma}}đ</span>
    </div>
    <div class="total">
        <span>Doanh thu</span><span>{{summary| comma}}đ</span>
    </div>
</section>